@model Client.Models.UserViewModel

@{
    ViewData["Title"] = "User Profile";
}

<h2>User Profile</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImageURL)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ProfileImageURL))
            {
                <img src="@Model.ProfileImageURL" alt="Profile Image" style="max-width: 200px; height: auto;" />
            }
            else
            {
                <span>No profile image available.</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TalentArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TalentArea)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary">Edit Profile</a>
    <a asp-action="ChangePassword" class="btn btn-warning">Change Password</a>
</div>
